<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

In [12]:
pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

In [24]:
df.noted_date = pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

In [14]:
df.temp.describe()

count    97606.000000
mean        35.053931
std          5.699825
min         21.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         51.000000
Name: temp, dtype: float64

In [37]:
df.noted_date.dt.day.mean  #df.noted_date.dt.month.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0         8
1         8
2         8
3         8
4         8
         ..
97601    28
97602    28
97603    28
97604    28
97605    28
Name: noted_date, Length: 97606, dtype: int64>

In [49]:
import numpy as np

df.noted_date = pa.to_datetime(df.noted_date).values.astype(np.int64)
df.noted_date.mean()
pa.to_datetime(df.groupby('noted_date').mean())

ValueError: ignored