<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/Exam3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Anjila Karki, Exam 3

## CPSMA 4313

## SOURCE USED 

https://github.com/SagarSitaula1/Data-Visual
https://github.com/nurfnick/Data_Viz
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.

Before starting with the code and cool data visualization, I am going to import different librieries needed for the completion of the project.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/worldCupPlayer.csv')
df

,Unnamed: 0,Rank,player,club,age,Apps,Mins,Goals,Assists,Yel,Red,SpG,PS,AerialsWon,MotM,Rating,nationality
0,0,1,Hakim Ziyech,Ajax,25,34,3043,9,15,4,0,4.9,75.4,0.2,9,8.21,Morocco
1,2,2,Alireza Jahanbakhsh,AZ Alkmaar,24,33,2840,21,12,3,0,4.3,73.4,0.7,14,8.20,Iran
2,4,3,Hirving Lozano,PSV Eindhoven,22,29,2350,17,8,4,2,3.4,75.3,0.6,8,7.90,Mexico
3,6,11,Lasse Schone,Ajax,32,27(3),2350,10,3,6,0,1.9,87.0,1.9,2,7.45,Denmark
4,10,25,Santiago Arias,PSV Eindhoven,26,30,2664,3,6,5,0,1.5,82.3,1,2,7.25,Colombia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,1150,200,Giancarlo Gonzalez,Bologna,30,22,1858,0,0,4,2,-,80.6,2.4,0,6.63,Costa Rica
599,1152,217,Stephan Lichtsteiner,Juventus,34,21(6),1715,0,2,6,0,0.1,82.2,0.9,0,6.59,Switzerland
600,1154,235,Dawid Kownacki,Sampdoria,21,6(16),811,5,1,0,0,1,75.4,1.4,0,6.51,Poland
601,1156,265,Emil Hallfredsson,Udinese,33,8(11),761,0,0,5,0,0.1,88.5,0.6,0,6.39,Iceland
602,1158,269,Marcus Rohden,Crotone,27,20(6),1637,2,0,2,0,0.8,67.6,0.8,0,6.35,Sweden

My favourite club is juventus. They play at Italy in Serie A lets looks at the data provided by this data set on the team.

![juventus.png]()

In [3]:
df1 = df[df['club'].str.contains('Juventus')]
df1

,Unnamed: 0,Rank,player,club,age,Apps,Mins,Goals,Assists,Yel,Red,SpG,PS,AerialsWon,MotM,Rating,nationality
545,1047,32,Mario Mandzukic,Juventus,32,5(1),457,4,0,2,0,2.5,67.1,2.8,2,7.37,Croatia
546,1049,57,Mario Mandzukic,Juventus,32,27(5),2327,5,3,3,1,1.6,75.8,2.5,1,7.01,Croatia
550,1056,56,Gonzalo Higuain,Juventus,30,9(1),831,5,1,1,0,2.4,78.5,0.5,2,7.24,Argentina
551,1058,19,Gonzalo Higuain,Juventus,30,32(3),2818,16,6,4,0,2.9,80.4,0.3,5,7.25,Argentina
560,1076,154,Douglas Costa,Juventus,27,8(2),719,0,1,1,0,0.6,80.0,0.2,0,6.94,Brazil
561,1078,7,Douglas Costa,Juventus,27,18(13),1793,4,12,1,0,1.2,84.0,0.2,4,7.45,Brazil
565,1085,181,Paulo Dybala,Juventus,24,8,661,1,0,0,1,4.1,87.7,0.1,0,6.86,Argentina
566,1087,1,Paulo Dybala,Juventus,24,26(7),2358,22,5,0,0,3.5,87.3,0.2,8,7.77,Argentina
569,1092,240,Sami Khedira,Juventus,31,8,633,0,3,0,0,0.6,86.7,1,0,6.73,Germany
570,1094,85,Sami Khedira,Juventus,31,24(2),1922,9,2,1,0,1.2,87.2,0.7,1,6.91,Germany
574,1102,326,Rodrigo Bentancur,Juventus,20,3(2),291,0,0,3,0,0.8,91.0,0.8,0,6.51,Uruguay
575,1104,262,Rodrigo Bentancur,Juventus,20,5(15),568,0,0,0,0,0.3,88.2,0.6,0,6.41,Uruguay
576,1106,338,Blaise Matuidi,Juventus,31,5(4),494,1,0,0,0,0.4,87.9,0.9,0,6.48,France
577,1108,129,Blaise Matuidi,Juventus,31,27(5),2355,3,1,3,0,0.8,91.6,1,0,6.80,France
599,1152,217,Stephan Lichtsteiner,Juventus,34,21(6),1715,0,2,6,0,0.1,82.2,0.9,0,6.59,Switzerland

So, here are some stats of different Juventus player.There are two players that are in the top ten rank from the team.